// Font-face all format
@mixin font($ff, $url) {
  @font-face {
    font-family: $ff;

		// Support IE 8
    // src: url(#{$dir-fonts-base+$url}.eot);
    // src: url(#{$dir-fonts-base+$url}.eot?#iefix) format('embedded-opentype'),
    //      url(#{$dir-fonts-base+$url}.ttf) format('truetype'),
    //      url(#{$dir-fonts-base+$url}.woff) format('woff'),
    //      url(#{$dir-fonts-base+$url}.woff2) format('woff2'),
    //      url(#{$dir-fonts-base+$url}.svg##{$ff}) format('svg');

		// NO: Support IE 8
    src: url(#{$dir-fonts-base+$url}.ttf) format('truetype'),
         url(#{$dir-fonts-base+$url}.woff) format('woff'),
         url(#{$dir-fonts-base+$url}.svg##{$ff}) format('svg');

		font-weight: normal;
    font-style: normal;
  }
}

// Font-face woff format
@mixin woff-font($ff, $url, $fw, $fs: normal) {
  $styleMin: '';
  @each $style in $fs {
    @if $style == 'i' or $style == italic {
      $styleMin: 'i';
      $style: italic;
    } @else {
      $style: normal;
    }
    $path: ($dir-fonts-base+$url) + '/' + ($fw+$styleMin) + '.woff';
    @font-face {
      font-family: $ff;
      font-style: $style;
      font-weight: $fw;
      src: local('☺'), url($path) format('woff'), url($path + '2') format('woff2');
    }
  }
}
