// row gutter
@mixin g($gutter: $gutter-base) {
  $gutterLR: $gutter/2;
  margin-left: -$gutterLR;
  margin-right: -$gutterLR;
  margin-top: -$gutter;
  > * {
    padding-left: $gutterLR;
    padding-right: $gutterLR;
    margin-top: $gutter;
  }
  & + & {
    margin-top: 0;
  }
}
@mixin gy($gutter: $gutter-base) {
  margin-top: -$gutter;
  > * {
    margin-top: $gutter;
  }
  & + & {
    margin-top: 0;
  }
}
@mixin gx($gutter: $gutter-base) {
  $gutterLR: $gutter/2;
  margin-left: -$gutterLR;
  margin-right: -$gutterLR;
  > * {
    padding-left: $gutterLR;
    padding-right: $gutterLR;
  }
}

// list gutter
@mixin gb($size: $gutter-base) {
  > * {
    margin-bottom: $size;
    &:last-child {
      margin-bottom: 0;
    }
  }
}
