// row gutter
@mixin gutter($gutter: $gutter-base) {
  $gutterLR: $gutter/2;
  margin-left: -$gutterLR;
  margin-right: -$gutterLR;
  margin-bottom: -$gutter;
  > * {
    padding-left: $gutterLR;
    padding-right: $gutterLR;
    padding-bottom: $gutter;
  }
  & + & {
    margin-top: $gutter;
  }
}
@mixin gutter-y($gutter: $gutter-base) {
  margin-bottom: -$gutter;
  > * {
    padding-bottom: $gutter;
  }
  & + & {
    margin-top: $gutter;
  }
}
@mixin gutter-x($gutter: $gutter-base) {
  $gutterLR: $gutter/2;
  margin-left: -$gutterLR;
  margin-right: -$gutterLR;
  > * {
    padding-left: $gutterLR;
    padding-right: $gutterLR;
  }
}

// list gutter
@mixin gutter-lines($size: $gutter-base) {
  > * {
    margin-bottom: $size;
    &:last-child {
      margin-bottom: 0;
    }
  }
}
