@mixin icons($url:'#{$dir-images}icons.png') {
  background-image: url($url);
  background-position: 100% 100%;
  background-repeat: no-repeat;
  display: inline-block;
  position: relative;
  top: -1px;
  vertical-align: middle;
}
@mixin img-fit($h:200px, $bg:#fff) {
  background: $bg;
  display: block;
  overflow: hidden;
  text-align: center;
  font-size: 0;
  height: $h;
  line-height: $h;
  img {
    max-width: 100%;
    max-height: 100%;
  }
}
@mixin img-zoom($op:.7) {
  overflow: hidden;
  display: inline-block;
  img {
    transition: all 0.35s;
  }
  &:hover img {
    transform: scale(1.1);
    opacity: $op;
  }
}
@mixin img-radius() {
  display: inline-block;
  vertical-align: middle;
  border-radius: 50%;
  > * {
    @include z(1em)
    overflow: hidden;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #eee;
    img {
      display: block;
      width: 100%;
      height: auto;
      vertical-align: middle;
    }
  }
}
@mixin img-center($w:200px,$h:200px) {
  position: relative;
  overflow: hidden;
  width: $w;
  height: $h;
  img {
    margin: auto;
    max-width: 100%;
    height: auto;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}
