@mixin title-size($px,$arr) {
  $i: 1;
  @each $size in $arr {
    @if $px == ems {
      h#{$i}, .h#{$i} {
        font-size: ems($size);
      }
    }
    @else if $px == px {
      h#{$i}, .h#{$i} {
        font-size: $size + px;
      }
    }
    @else if $px == em {
      h#{$i}, .h#{$i} {
        font-size: em($size);
      }
    }
    @else if $px == rem {
      h#{$i}, .h#{$i} {
        font-size: rem($size);
      }
    }
    @else if $px == unit {
      h#{$i}, .h#{$i} {
        font-size: unit($size);
      }
    }
    $i: $i+1;
  }
}
