&--horizontal-tm-1 {
  $preview-gutter: unit(15px);
  $preview-border: unit(3px);
  $preview-color: $link-color-base;
  $preview-hover-color: $link-hover-color-base;

  #{$root}__for {
    a[data-fancybox] {
      cursor: zoom-in;
    }
  }

  #{$root}__nav {
    overflow: hidden;
    margin-top: $preview-gutter;
    padding: 0 unit(50px);
    #{$root}__item {
      position: relative;
      &::after {
        @include tsn-all;
        content: "";
        display: block;
        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        border: $preview-border solid rgba(#000, 1);
      }
      img {
        @include tsn-all;
        opacity: .75;
      }
      &:hover {
        img {
          opacity: 1;
        }
      }
    }
    .slick-list {
      margin: 0 (-$preview-gutter/2);
    }
    .slick-slide {
      & > * {
        padding: 0 ($preview-gutter/2);
      }
    }
    .slick-current {
      img {
        opacity: 1;
      }
      #{$root}__item {
        position: relative;
        &::after {
          border-color: $preview-color;
        }
      }
    }
    .slick-arrow {
      &:hover {
      }
    }
    &.slick-slider {
      .slick-arrow {
        &[class*="left"],&[class*="prev"] {
          left: 0;
        }
        &[class*="right"],&[class*="next"] {
          right: 0;
        }
      }
    }
  }

  .slick-dots {
    margin: unit(15px) 0 0;
    button {
      border-radius: 50%;
      background: $color-1;
      @include z(unit(10px));
      margin: 0 unit(10px);
    }
    .slick-active {
      button {
        background: $preview-color;
      }
    }
  }

  // больше отступа в теле статьи
  .b-entry-text & {
    margin: ems($gutter-item * 3) 0;
  }
}
