+bs-modal#modal-inform.modal--default
  .modal-dialog(role="document")
    .modal-content
      +bs-modal-close
      h3.modal__title
        | title
      +p

//- #modal-fancybox.modal.modal--default.modal--animation-1.wrap--w600
  .modall__content
    h3.modall__title
      | title
    +p
