footer.s-footer.s-base
	.container
		.d-lg-flex.gutter-10
			.flex-lg-grow-1
				.b-copyright
					| © 2015 Copyright
			.flex-lg-grow-0
				.b-developer
					| Разработка сайта: 
					a(href="//studio.ru" target="_blank") studio.ru
