footer.section.section--footer
  .container
    .row
      .col-lg
        .b-copyright
          | © 2015 Copyright
      .col-lg-auto
        .b-developer
          | Разработка сайта: 
          a(href="//studio.ru" target="_blank") studio.ru
