header.section.section--header
  .container
    .row.align-items-center
      .col.col-lg-auto
        +b-logo('logo.png')
      .col-auto.col-lg
        .hide-lg-max
          +b-multiMenu(menu_main,'b-menu-main','submenu')
        .d-block.d-lg-none
          button.bt.fz-180p
            | ☰
      .col-lg-auto.hide-lg-max
        ul.reset-list
          li
            a(href="#" data-toggle="modal" data-target="#modal-inform")
              | #modal-inform
          li
            a.b-phone(href="tel:+71234567890")
              span.b-phone__cod
                | +7 (123)
              |  
              span.b-phone__num
                | 456-78-90
          li
            +b-email('email@dom.ru','icon-email').b-email
