header.s-header.s-base
	.container
		.d-flex.gutter-30
			.align-self-center.flex-grow-1.flex-lg-grow-0
				+b-logo('logo.png')
			.align-self-center.flex-lg-grow-1
				.d-none.d-lg-block
					.d-flex.justify-content-center
						+b-multiMenu(menu_main,'b-menu-main','submenu')
				.d-block.d-lg-none
					button.bt.fz-180p
						| ☰
			.align-self-center.d-none.d-lg-block
				ul.reset-list
					li
						a.b-phone(href="tel:+71234567890")
							span.b-phone__cod
								| +7 (123)
							|  
							span.b-phone__num
								| 456-78-90
					li
						+b-email('email@dom.ru','icon-email').b-email
