.form {
  $root: &;
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
    -webkit-transition: "color 9999s ease-out, background-color 9999s ease-out";
    -webkit-transition-delay: 9999s;
  }
  #{$root}__field {
    outline: none;
    margin: 0;
    padding: 0;
    -webkit-appearance: none;
    background-clip: padding-box;
    border: none;
    border-radius: 0;
    box-shadow: none;
    vertical-align: middle;
    max-width: 100%;
    line-height: normal;
    &::placeholder {}
    &:not(textarea) {
      @include text-overflow;
    }
  }
  textarea#{$root}__field {
    display: block;
  }
  .is-ios & {
    textarea#{$root}__field {
      text-indent: -3px;
      &::placeholder {
        text-indent: 0;
      }
    }
    @media screen and (max-width: 480px) {
      #{$root}__field,
      #{$root}__select {
        font-size: 16px !important;
      }
    }
  }

  @import 'theme/tm-1/layout';
}
