mixin ltIE-12
  // [if lt IE 12 ] 
  script.
    var userAgent=navigator.userAgent.toLowerCase(),isIE=userAgent.indexOf('msie')!=-1?parseInt(userAgent.split('msie')[1]):userAgent.indexOf('trident')!=-1?11:userAgent.indexOf('edge')!=-1?12:false;if(isIE){(isIE<12)?window.location="//outdatedbrowser.com/":false;}
  // [endif lt IE 12 ] 
mixin ltIE-10
  //[if lt IE 10]><link href="//rawgit.com/codefucker/finalReject/master/reject/reject.css" rel="stylesheet"/><script src="//rawgit.com/codefucker/finalReject/master/reject/reject.min.js"></script><![endif]

mixin favicon
  if favicon
    link(rel='apple-touch-icon', sizes='180x180', href='images/favicons/apple-touch-icon.png')
    link(rel='icon', type='image/png', href='images/favicons/favicon-32x32.png', sizes='32x32')
    link(rel='icon', type='image/png', href='images/favicons/favicon-16x16.png', sizes='16x16')
    link(rel='manifest', href='images/favicons/manifest.json')
    link(rel='mask-icon', href='images/favicons/safari-pinned-tab.svg', color='#5bbad5')
    meta(name='theme-color', content='#ffffff')

//- CONNECTION FILES
mixin links(...files)
  each file in files
    link(rel="stylesheet" href=file)
mixin scripts(...files)
  each file in files
    script(src=file)


//- CURRENT PAGE
mixin pageTitle(tit)
  - poject = (poject) ? ' | ' + poject : ''
  - activeMenu = tit
  - pojectTitle = tit[tit.length-1] + poject
  if bodyClasses
    each item in menu_main
      if (item.val == tit[0])
        - pageClass = item.url.slice(0,item.url.lastIndexOf('.'));
        //- Автом. генерация классов, на модификатор страницы
          - bodyClasses.splice(0, 0, ['page--'+pageClass]);
+pageTitle(title)
