mixin bs-modal
  .modal.fade(tabindex="-1" role="dialog" aria-labelledby="..." aria-hidden="true")&attributes(attributes)
    block
mixin bs-modal-close
  span.bt.b-close(data-dismiss="modal" aria-label="Close")&attributes(attributes)
    i.icon-close
mixin b-logo(img,ht)
  h2.b-logo&attributes(attributes)
    a.b-logo__link(href="/")
      img.b-logo__img(src="images/theme/"+img height=ht alt)
      span.b-logo__title= poject
