@import 'var';
@import '../../mixin/import';

&--tm-1 {
  // FIELD
  #{$root}__field,
  .b-field-icon__field {
    @include field-input;
    &::placeholder {
      @include tsn-all;
      color: $placeholder-color;
      font-weight: $input-font-weight;
    }
    &:focus, &.focus {
      &::placeholder {
        color: $placeholder-focus-color;
      }
    }
    &:not(.b-field-icon):not(textarea) {
      height: $input-height;
    }
    // VALIDATE
    & + #{$root}__text-error {
      display: none;
      color: $input-bg-error-color;
    }
    &:valid {
      &:not(:placeholder-shown) {
      	background-color: $input-bg-valid-color;
      }
    }
    &:invalid {
      &:not(:placeholder-shown) {
      	border-color: $input-bg-error-color;
        + #{$root}__text-error {
          display: block;
        }
      }
    }
  }
  textarea#{$root}__field {
    height: auto;
    min-height: unit(100px);
  }
  // FIELDSET
  #{$root}__fieldset {
    margin-bottom: rem(30);
    &:last-child {
      margin-bottom: 0 !important;
    }
    @media($min-md) {
      & {
        margin-bottom: rem(50);
      }
    }
  }
  // LABEL
  #{$root}__label {
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin-bottom: unit(5px);
    &:last-child {
      margin-bottom: 0;
    }
  }
  // GROUP
  #{$root}__group {
    margin-top: $form-group-gutter;
    &:first-child {
      margin-top: 0;
    }
    &--bt {
      margin-top: $form-group-gutter * 2;
    }
  }
  // INPUT-ICON
  .b-field-icon {
    @include field-icon($input-size-icon);
    &__field {
      @include text-overflow;
    }
    &__icon--over {
      color: $placeholder-color;
      &:hover {
        color: $input-font-color;
      }
    }
  }
  // VALIDATE "jquery-validation"
  // input.error, textarea.error {
  //   border-color: $input-border-color-error !important;
  //   box-shadow: 0 0 unit(3px) $input-border-color-error !important;
  // }
  // label.error {
  //   display: none !important;
  // }
}
