// FORM ELEMENTS
$placeholder-color:          $placeholder-color;
$placeholder-focus-color:    $placeholder-focus-color;
$input-font-color:           $input-font-color;

$input-bg-color:             $input-bg-color;
$input-bg-focus-color:       $input-bg-focus-color;

$input-border-color:         $input-border-color;
$input-border-focus-color:   $input-border-focus-color;
$input-border-radius:        $input-border-radius;

$input-height:               $input-height;
$input-font-size:            $input-font-size;
$input-font-family:          $input-font-family;
$input-font-weight:          $input-font-weight;
$input-padding-y:            $input-padding-y;
$input-padding-x:            $input-padding-x;
$input-border-width:         $input-border-width;
$form-group-gutter:          $form-group-spacing;
$input-size-icon:            $input-size-icon;

$input-border-color-error:   red;
