&--vertical-tm-1 {
  $preview-gutter: unit(15px);
  $preview-border: unit(3px);
  $preview-color: $link-color-base;
  $preview-hover-color: $link-hover-color-base;
  $navWt: unit(150px);

  width: 100%;
  display: flex;
  align-items: center;

  #{$root}__for {
    width: calc(100% - (#{$navWt} + #{$preview-gutter}));
    a[data-fancybox] {
      cursor: zoom-in;
    }
  }

  #{$root}__nav {
    overflow: hidden;
    margin-right: $preview-gutter;
    padding: unit(30px) 0;
    width: $navWt;
    order: -1;
    @at-root {
      .slick-dotted + & {
        display: none;
      }
    }
    img {
      @include tsn-all;
      opacity: .75;
      &:hover {
        opacity: 1;
      }
    }
    #{$root}__item {
      position: relative;
      &::after {
        @include tsn-all;
        border: $preview-border solid rgba(#000, 1);
        content: "";
        display: block;
        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
      }
    }

    .slick-list {
      margin-top: - $preview-gutter/2;
      margin-bottom: - $preview-gutter/2;
    }
    .slick-slide {
      & > * {
        padding: $preview-gutter/2 0;
      }
    }
    .slick-current {
      img {
        opacity: 1;
      }
      #{$root}__item {
        position: relative;
        &::after {
          border-color: $preview-color;
        }
      }
    }
    .slick-arrow {
      font-size: unit(20px);
      color: $preview-color;
      &:hover {
        color: $link_hover_color_base;
      }
    }
    &.slick-slider.slick-vertical {
      .slick-arrow {
        &[class*="top"],&[class*="prev"] {
          top: 0;
        }
        &[class*="bot"],&[class*="next"] {
          bottom: 0;
        }
      }
    }
  }

  .slick-dots {
    margin: unit(30px) 0 0;
    button {
      @include z(unit(14px));
      border-radius: 50%;
      background: $color-1;
      margin: 0 unit(12px);
    }
    .slick-active {
      button {
        background: $preview-color;
      }
    }
  }

  // больше отступа в теле статьи
  .b-entry-text & {
    margin: ems($gutter-item * 3) 0;
  }
}
