// BASE
&--base {
  border: $btn-border-size-base solid transparent;
  border-radius: $border-radius-base;
  padding: {
    left: unit($btn-padding-x-base);
    right: unit($btn-padding-x-base);
  }
  font-family: $ff-base;
  line-height: $btn-line-height-base;
  @include btn-size(40,16);
}

// THEME
&--default {
  @extend #{$root}--base;
  background: $link-color-base;
  color: #fff;
  font-size: inherit;
  &:hover, &.hover {
    background: $link-hover-color-base;
  }
  &:active, &.active {
    background: $link-active-color-base;
  }
}

&--default-outline {
  @extend #{$root}--base;
  border-color: $link-color-base;
  color: $link-color-base;
  &:hover, &.hover {
    background: $link-color-base;
    color: #fff;
  }
  &:active, &.active {
    background: $link-active-color-base;
    border-color: $link-active-color-base;
    color: #fff;
  }
}

&--default-link {
  @extend #{$root}--base;
  color: $link-color-base;
  &:hover, &.hover {
    color: $link-hover-color-base;
  }
  &:active, &.active {
    color: $link-active-color-base;
  }
}

// SIZE
&--lg {
  @include btn-resize(1.25);
  @media($max-md) {
    &:not(#{$root}--md-not-resize) {
      @include btn-resize(1);
    }
  }
}
&--sm {
  @include btn-resize(0.75);
}
