// Configuration
$btn-size-base:             40px;
$btn-font-size-base:        16px;
$btn-padding-x-base:        16px;
$btn-icon-spacing-y-base:   unit(8px);
$btn-border-size-base:      1px;
$btn-line-height-base:      1.4;
