meta(charset="utf-8")
meta(http-equiv="X-UA-Compatible" content="IE=edge")
meta(name="viewport" content="width=device-width")
//- Запрещаем распознавать номера телефонов и адреса, а так-же выделять их:
meta(name="format-detection" content="telephone=no")
meta(name="format-detection" content="address=no")
//- meta(http-equiv="x-rim-auto-match" content="none") // не проходит validatе w3 HTML

block title
  title=pojectTitle

+favicon

meta(name="description" content="")
meta(name="keywords" content="")

//- CDN connect
+links(
  "//use.fontawesome.com/releases/v5.3.1/css/all.css"
)

// build:css css/vendors.min.css 
= '\n'
<!-- bower:css -->
<!-- endbower -->
// endbuild 

block links

if icomoon
  +links("//i.icomoon.io/public/temp/"+icomoon+"/style.css")

+links(
  "css/theme.min.css?rev=@@hash",
  "css/custom.css"
)

if modernizr
  +scripts("js/modernizr.js")

//- +ltIE-10
