//- BASE VARIABLES
- var title         = 'Заголовок страницы'
- var pojectTitle   = []
- var activeMenu    = []
- var bodyClasses   = []
- var dirMain       = ''
- var dirImg        = dirMain+'images/content'

//- INCLUDES COMMON
- var header        = false
- var main          = true
- var footer        = false
- var modals        = false
- var favicon       = false
- var modernizr     = false

//- NAME POJECT
- var poject        = 'start'

//- ICOMOON APP
  - var icomoon       = '754aa778e0/'+poject




//- CONNECTION VARIABLES TO MAIN
block vars
