//- BASE VARIABLES
- var title         = 'Заголовок страницы'
- var pojectTitle   = []
- var activeMenu    = []
- var bodyClasses   = []

//- INCLUDES COMMON
- var header        = false
- var main          = true
- var footer        = false
- var hide_top      = false
- var hide_bot      = false
- var favicon       = false
- var modernizr     = false

//- NAME POJECT
- var poject        = 'start'

//- ICOMOON APP
	- var icomoon       = '754aa778e0/'+poject




//- CONNECTION VARIABLES TO MAIN
block vars
