$ch-size: $ch-size-base;
$ch-spacing-col: $ch-spacing-col-base;
$ch-bg: $ch-bg-base;

$ch-border-width: $ch-border-width-base;
$ch-border-color: $ch-border-color-base;
$ch-border-focus-color: $ch-border-focus-color-base;
$ch-border-radius: $input-border-radius;

$ch-color-checked: $ch-color-checked-base;
$ch-gutter-checked: $ch-gutter-checked-base;
$ch-text-font-size: $ch-text-font-size-base;
