@mixin field-icon($icon-size: 16px) {
  @include tsn;
  position: relative;
  display: inline-block;
  padding: 0 !important;
  &__field {
    @include field-input;
    outline: none !important;
    -webkit-appearance: none !important;
    box-shadow: none !important;
    width: 100%;
    max-width: 100%;
    position: relative;
    z-index: 1;
    background-color: transparent !important;
    border: none !important;
    margin: - $input-border-width;
    max-width: calc(100%  + #{$input-border-width * 2});
    height: calc(100% + #{$input-border-width * 2});
    &:not([size]) {
      width: calc(100%  + #{$input-border-width * 2});
    }
  }
  &__icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: inherit;
    font-size: unit($icon-size);
    &--over {
      z-index: 2;
      cursor: pointer;
    }
  }
  &:not(.b-field-icon--left) {
    .b-field-icon__icon {
      right: $input-padding-x;
    }
    .b-field-icon__field {
      padding-right: ($input-padding-x * 2) + unit($icon-size) !important;
    }
  }
  &--left {
    .b-field-icon__icon {
      left: $input-padding-x;
    }
    .b-field-icon__field {
      padding-left: ($input-padding-x * 2) + unit($icon-size) !important;
    }
  }
}
