@mixin field-input() {
  letter-spacing: normal;
  border-width: $input-border-width;
  border-style: solid;
  background-color: $input-bg-color;
  border-color: $input-border-color;
  border-radius: $input-border-radius;
  font-size: $input-font-size;
  color: $input-font-color;
  font-family: $input-font-family;
  font-weight: $input-font-weight;
  height: $input-height;
  padding: $input-padding-y $input-padding-x;
  vertical-align: middle;
  &:focus, &.focus {
    background-color: $input-bg-focus-color;
    border-color: $input-border-focus-color;
  }
}
