extends _base/_main.pug
block vars
	- title = ['Верстка страниц']
	- header = 0
	- footer = 0
	- hide_top = 0
	- hide_bot = 0
block content
	.container.fz-120p
		h1=poject
		+b-pagesUpdated
		+b-dev-pages([
			"index"
		])
