extends _base/_main.pug
block vars
  - title = ['dev']
  - bodyClasses = ['page--dev']
  - modals = 1
block content
  //- +b-pagesUpdated
  .container
    h1=poject
    .row.gy-30
      .col-auto
        h3.mt-0 Pages
        +b-dev('pages',[
          "index",
          "index",
        ]).d-flex.flex-column.gy-15.nowrap
      .col-auto
        h3.mt-0 Modals
        +b-dev('modals',[
          "login",
          "login",
        ]).d-flex.flex-column.gy-15.nowrap
