// Typography
@include title-size(unit, (36,30,24,18,14,12));

h1,.h1,h2,.h2,h3,.h3,h4,.h4,h5,.h5,h6,.h6 {
	margin: ems($gutter-item-base) 0 ems($gutter-item-base / 2);
}

h1,.h1,h2,.h2,h3,.h3,h4,.h4,
h5,.h5,h6,.h6,b,strong,th,dt {
	// styles ...
}

p,.p,pre,.pre,ul,.ul,ol,.ol,dl,.dl {
	margin-top: 0;
	margin-bottom: ems($gutter-item-base);
	&:last-child {
		margin-bottom: 0;
	}
}

.hr {
	border: none;
	margin: ems($gutter-item-base) 0;
}

a,.b-link,.bt.b-link {
	cursor: pointer;
	text-decoration: none;
	color: $link-color-base;
	&:hover {
		color: $link-hover-color-base;
		text-decoration: underline;
	}
	&:focus {
		outline: none;
	}
}

a,input,textarea,button,.bt,.b-link {
	@include tsn;
}

[class^="svg-"],[class*=" svg-"] {
	rect, path {
		@include tsn-svg(stroke);
	}
}
