@import 'var';
@import 'fancybox';

.modall {
  $root: &;
  margin: 0;
  padding: 0;
  background: none;
  &__close {
    @include tsn-all;
    position: absolute;
    z-index: 99;
    top: 0;
    right: 0;
    opacity: .5;
    padding: unit(15px);
    font-size: 125%;
    &:hover {
      opacity: 1;
    }
  }
  .fancybox-close-small {
    z-index: 99;
  }
  &__content {
    @include reset-in-mg;
    @media($min-md) {
      padding: 0;
    }
  }
  &--animation-1 {
    @media($min-md) {
      transform: translateY(unit(-80px));
      transition: all .5s;
      .fancybox-slide--current & {
        transform: translateY(0);
        transition-duration: .3s;
      }
    }
    @media($max-md) {
      transform: translateX(unit(-80px));
      transition: all .5s;
      .fancybox-slide--current & {
        transform: translateX(0);
        transition-duration: .3s;
      }
    }
  }
  @media($max-md) {
    width: 100%;
    max-width: 100%;
    min-height: 100%;
    &__close {
      padding: unit(15px) 0;
    }
    &.fancybox-content {
      margin: 0;
    }
  }

  @import 'theme';
}
