.fancybox-bg {
  background: $fb-bg;
  .fancybox-is-open & {
    opacity: $fb-opacity;
  }
}

.fancybox-thumbs {
  background: $fb-thumbs;
}

.fancybox-slide {
  &:before {
    margin: 0;
  }
  &--html {
    @media($max-md) {
      // modall full screen
      padding: 0;
      &:before {
        display: none;
      }
    }
  }
  &--video {
    @media($max-xl) {
      padding: 0;
    }
  }
}
.compensate-for-scrollbar {
  &.static {
    margin-right: 0;
  }
}
