$ch-size-base: rem(18px);
$ch-spacing-col-base: rem(10px);
$ch-bg-base: $input-bg-color;

$ch-border-width-base: $input-border-width;
$ch-border-color-base: $input-border-color;
$ch-border-focus-color-base: $input-border-focus-color;

$ch-color-checked-base: $color-1;
$ch-gutter-checked-base: rem(4px);
$ch-text-font-size-base: rem(14);
