@import 'var';

&--radio-tm-1 {
  #{$root}__col {
    &:last-child {
      margin-left: $ch-spacing-col;
    }
  }
  #{$root}__checked {
    @include tsn;
    background-color: $ch-bg;
    border: $ch-border-width solid $ch-border-color;
    border-radius: $ch-border-radius;
    width: $ch-size;
    height: $ch-size;
    &::before {
      @include tsn-all;
      top: $ch-gutter-checked;
      left: $ch-gutter-checked;
      right: $ch-gutter-checked;
      bottom: $ch-gutter-checked;
      background-color: $ch-border-color;
      border-radius: $ch-border-radius;
    }
  }
  #{$root}__val {
    font-size: $ch-text-font-size;
  }
  #{$root}__input {
    // hover
    &:hover + #{$root}__checked {
      &:before {
      }
    }
    // focus
    &:focus + #{$root}__checked {
      background-color: $ch-bg;
      border-color: $ch-border-focus-color;
      &:before {
      }
    }
    // checked
    &:checked + #{$root}__checked {
      &:before {
        background-color: $ch-color-checked;
      }
    }
  }
  a {
    &:hover {

    }
  }
}
