$ch-size: rem(18px);
$ch-spacing-col: rem(10px);
$ch-bg: $input-bg-color;

$ch-border-width: $input-border-width;
$ch-border-color: $input-border-color;
$ch-border-focus-color: $input-border-focus-color;
$ch-border-radius: $input-border-radius;

$ch-color-checked: $color-1;
$ch-gutter-checked: rem(4px);
$ch-text-font-size: rem(14);
